{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<div class="articles">
        {% for article in articles %}
        <article>
            <h2>{{article.title}}</h2>
            <div class="metadata">{{ article.createdAt | date('d/m/y')}} à {{ article.createdAt | date('H:i')}}
                categorie {{ article.category.title}}
            </div>
            <div class="content">

            <img src="{{article.image}}" alt="">
            <p>{{article.content | raw}}</p>
            

            </p>
            <a href="{{path('blog_show',{'id':article.id})}}" class="btn btn-primary">lie la suite</a>        
    
    
            </div>
        </article>
        {% endfor %}

</div>
{% endblock %}
